@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #2199df;
  text-decoration: unset; /*to avoid underline in the links*/
}

ul {
  margin-left: 1.5rem;
  list-style: none;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

button,
input[type="submit"] {
  border: none;
  background: none;
  color: unset;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 2em 0;
}

body {
  font-family: "Roboto Slab", serif;
  /* background-color: black; */
  /* color: #fff; */
}
.notices-container{
  /* background: url("/notice-board-illustrator.png") no-repeat center center fixed; */
  /* background-repeat: no-repeat; */
  /* background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  /* width: 80%; */
   height: 80vh;
   /* background-attachment: fixed; */
   /* background-position: 50% 50%; */
}
/*register-login form desgin begins*/

.page {
  padding: 5rem;
  justify-items: center;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap:wrap ;
}
.login-register-form {
 flex:7;
  width: 50%;  
}
.image-container{
  margin-left: -15%;
  margin-top: -10%;
}

@media only screen and (max-width: 1090px) {
  .image-container img{    
    width: 80%;    
  }
  .login-register-form {
    margin-left: -20rem;
  }
}
@media only screen and (max-width: 950px) {  
  .image-container img{    
    width: 60%;    
  }
  .login-register-form {
    margin-left: -34rem;
  }
}
@media only screen and (max-width: 710px) {
  .image-container img{    
    width: 50%;    
  }
  .login-register-form {
    margin-left: -44rem;
  }
}
@media only screen and (max-width: 500px) {
  .image-container img{    
    width: 85%;    
  }
  .login-register-form{
    margin: 3rem;
    margin-top:-50px;
  }
}
/*register-login form desgin ends*/
/*
.page,
.upload-form input {
  width: 65%;
  padding: 0.75rem;
}

.page,
.login-register-form {
  width: 65%;
  padding-left: 10%;
} */

.notices-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -15%;
}

.next-prev-btn {
  text-decoration: none;
  display: inline-block;
  padding: 3px;
  font-size: 10px;
  font-weight: bolder;
  width: 30px;
  text-align: center;
  background-color: #a0a0a0;
  color: white;
  border-radius: 50%;
}

/**********HEADER*********/
#header {
  height: 70px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  background-color: #171332;
  padding-top: 1rem;
}

#header .title {
  margin: 0;
  padding: 0 1rem;
  color: #fff;
  margin-left: 50px;
  display: inline;
  margin-left: 0;
  font-family: "Rye", cursive;
}

#header .nav-logo {
  height: 40px;
  width: 50px;
  margin-left: 2rem;
  margin-top: -2rem;
  margin-right: 2rem;
}

#header .authOptions {
  display: flex;
  height: 100%;
}

#header .authOptions button {
  padding: 0 6rem;
  margin-top: -2rem;
  background-color: #2a5d67;
  color: #fff;
  font-size: 2.1rem;
}

#header .authOptions button:hover {
  background-color: #6aa051;
}

@media screen and (max-width: 800px) {
  #header .title {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 550px) {
  #header .title {
    font-size: 1.7rem;
  }

  #header .authOptions button {
    font-size: 1.5rem;
    padding: 0 0.7rem;
  }

  .page,
  .upload-form {
    justify-items: center;
    margin-left: 10%;
    margin-top: 20px;
  }

  .page,
  .upload-form input {
    width: 85%;
    padding: 0.5rem;
  }
}

/********form********/
.form label,
.form input {
  display: block;
}

.form input {
  margin-bottom: 1rem;
}

.form label {
  margin-bottom: 0.2rem;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
  width: 100%;
  font-size: 1.1rem;
  border: 1px solid #c2c2c2;
  padding: 0.8rem;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.form input:focus {
  border: 1px solid #268aa4;
  box-shadow: inset 0px 0px 5px rgba(38, 142, 228, 0.5);

  outline: none;
}

.form input[type="submit"] {
  padding: 0.8rem 1.8rem;
  font-size: 2.1rem;
  background-color: #bce4aa;
  border: 1px solid #6aa051;
  border-radius: 8px;
}

/********errors*******/
.error-notice {
  margin: 1rem 0;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #e07c7c;
  background-color: #f8d6d6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error-notice button {
  background-color: #df4343;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
}
/*****home*****/
.selectFileBtn {
  padding: 0.8rem 0.8rem;
  font-size: 1.1rem;
  background-color: #bce4aa;
  border: 1px solid #6aa051;
  border-radius: 8px;
  width: 65%;
  margin-top: 10px;
}
.uploadButton {
  margin-bottom: 30px;
  padding: 0.8rem 0.8rem;
  font-size: 1.1rem;
  background-color: #bce4aa;
  border: 1px solid #6aa051;
  border-radius: 8px;
  width: 65%;
  margin-top: 10px;
}
