html {
  scroll-behavior: smooth;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  box-shadow: 0px 10px 10px 0px #1124;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 60vh;
  overflow: hidden;
}
@keyframes example {
  from {
    right: 0%;
  }
  to {
    right: 100%;
  }
}
.wrapper {
  overflow: hidden;
}
.slidingbackground {
  background: url("/assets/slider.svg") repeat-x;
  height: 560px;
  width: 6000px;
  animation: slide 4s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}

.arrowContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  box-shadow: 0px 10px 10px 0px #1124;
  height: 88px;
  margin-bottom: 40px;
}

@keyframes jumpingBtn {
  0% {
    top: 16px;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 16px;
  }
}
.arrowContainer img {
  cursor: pointer;
  height: 90px;
  position: absolute;
  top: 16px;
  filter: drop-shadow(5px 5px 5px #222);
  animation: jumpingBtn 2s infinite;
  animation-timing-function: cubic-bezier(0.4, 0.4, 0.4, 0.4);
}

.noticeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 96vw;
}

#noNoticeContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#noNoticeContainer img {
  height: 50vh;
  width: 90%;
  max-width: 400px;
}
#noNoticeContainer h1 {
  margin-top: 1rem;
}

@media only screen and (max-width: 500px) {
  .noticeContainer {
    justify-content: center;
  }
}
