.noticeSectionContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.noNoticeWarning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 64px;
}
.noNoticeWarning h1 {
  margin: 0;
}
.leftChild {
  width: 25%;
  float: left;
  margin-top: -40px;
  margin-left: -15rem;
  padding-right: 20px;
  /* overflow: hidden; */
  position: fixed;
}

.leftChildImg {
  padding: 30px;
  padding-right: 40px;
  max-height: 95vh;
}

.rightChild {
  padding-left: 40%;
  /* width: 40%; */
  float: left;
}

@media only screen and (max-width: 700px) {
  .leftChild {
    display: none;
  }
  .rightChild {
    background-image: url("./vector-creator.png");
  }
}

@media only screen and (max-width: 690px) {
  .leftChild {
    /* display: none; */
    /* width: 25%; */
    /* float: left; */
    margin-top: -40px;
    margin-left: -15rem;
    padding-right: 20px;
    /* overflow: hidden; */
    position: fixed;
  }
}
