.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: rgb(136 165 191 / 48%) 6px 2px 16px 0px,
    rgb(255 255 255 / 80%) -6px -2px 16px 0px;
  margin: 1rem;
  padding: 12px 12px 8px 12px;
  border-radius: 8px;
  background-color: aliceblue;
  width: 28vw;
  box-sizing: content-box;
}

.container img {
  width: 100% !important;
  height: 608px !important;
}

.noticeDetails {
  background-color: blue;
  width: 100%;
  height: 124px;
  display: flex;
  flex-direction: column;
  color: #ffde61;
  padding: 0 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  justify-content: space-around;
}

.noticeTitle {
  width: 100%;
  word-wrap: break-word;
  margin: 4px;
  font-size: 16px;
}

.noticeDate {
  margin: 4px 0;
}
