.pdfBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: rgb(136 165 191 / 48%) 6px 2px 16px 0px,
    rgb(255 255 255 / 80%) -6px -2px 16px 0px;
  margin: 1rem;
  padding: 12px 12px 8px 12px;
  border-radius: 8px;
  background-color: aliceblue;
  width: 20vw;
  height: 28rem;
  max-width: 30rem;
  box-sizing: content-box;
}
.pdfBox canvas {
  width: 100% !important;
  height: 18.5rem !important;
}

.noticeDetails {
  background-color: #008080;
  width: 100%;
  /* overflow: hidden; */
  height: 9rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #ffde61;
  padding: 0 4px;
  font-size: 2rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  justify-content: space-around;
}

.noticeTitle {
  width: 100%;
  word-wrap: break-word;
  margin: 4px;
  font-size: 16px;
  font-family: sans-serif;
  /* overflow: scroll;
  overflow-x: hidden; */
}

.noticeDate {
  margin: 4px 0;
}
