.uploadFormContainer {
  padding: 10px 0;
}

.uploadForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  align-items: center;
}

/* .uploadForm > * {
  width: 50%;
} */

.inputSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputSection input {
  border: none;
  outline: none;
  border-bottom: 2px solid #000;
}

.uploadForm button {
  padding: 0.8rem 0.8rem;
  font-size: 1.5rem;
  border-radius: 8px;
  margin-top: 10px;
  color: #fff;
}

.uploadController {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.uploadController * {
  width: 100%;
}

.selectFileBtn {
  background-color: #007bff;
}

.selectFileBtn:hover {
  background-color: #0051ff;
}

.uploadButton {
  background-color: #6aa051;
  margin-bottom: 30px;
}

.uploadButton:enabled:hover {
  background-color: #12852d;
}

.uploadButton:disabled {
  background-color: #35bb54a2;
}

@media only screen and (min-width: 345px) and (max-width: 550px) {
  .uploadForm {
    width: 80%;
  }

  .uploadForm .inputSection {
    width: 100%;
  }

  .uploadController {
    padding-bottom: 16px;
    width: 100%;
    flex-direction: row;
  }

  #noticeFileName {
  }

  .uploadButton {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 347px) {
  .uploadForm {
    padding: 0 2px;
    width: 100%;
  }

  .uploadForm .inputSection {
    width: 100%;
  }

  .uploadController {
    padding-bottom: 16px;
    width: 100%;
    flex-direction: row;
  }

  .uploadButton {
    margin-bottom: 0;
  }
}
