@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #2199df;
  text-decoration: unset; /*to avoid underline in the links*/
}

ul {
  margin-left: 1.5rem;
  list-style: none;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

button,
input[type="submit"] {
  border: none;
  background: none;
  color: unset;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 2em 0;
}

body {
  font-family: "Roboto Slab", serif;
}

.page {
  padding: 1rem;
  justify-items: center;
}

/**********HEADER*********/
#header {
  height: 70px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  background-color: #171332;
}

#header .title {
  margin: 0;
  padding: 0 1rem;
  color: #fff;
  margin-left: 50px;
}

#header .authOptions {
  display: flex;
  height: 100%;
}

#header .authOptions button {
  padding: 0 6rem;
  background-color: #2a5d67;
  color: #fff;
  font-size: 2.1rem;
}

#header .authOptions button:hover {
  background-color: #6aa051;
}

@media screen and (max-width: 550px) {
  #header .title {
    font-size: 1.2rem;
  }

  #header .authOptions button {
    font-size: 0.5rem;
    padding: 0 0.7rem;
  }
}

/********form********/
.form label,
.form input {
  display: block;
}

.form input {
  margin-bottom: 1rem;
}

.form label {
  margin-bottom: 0.2rem;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
  width: 100%;
  font-size: 1.1rem;
  border: 1px solid #c2c2c2;
  padding: 0.8rem;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.form input:focus {
  border: 1px solid #268aa4;
  box-shadow: inset 0px 0px 5px rgba(38, 142, 228, 0.5);

  outline: none;
}

.form input[type="submit"] {
  padding: 0.8rem 1.8rem;
  font-size: 2.1rem;
  background-color: #bce4aa;
  border: 1px solid #6aa051;
  border-radius: 8px;
}

/********errors*******/
.error-notice {
  margin: 1rem 0;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #e07c7c;
  background-color: #f8d6d6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error-notice button {
  background-color: #df4343;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
}
/*****home*****/
.uploadButton {
  margin-left: 30%;
  padding: 0.8rem 0.8rem;
  font-size: 1.1rem;
  background-color: #bce4aa;
  border: 1px solid #6aa051;
  border-radius: 8px;
}
